
*{
  font-family: sans-serif;
}
ul{
  list-style: none;
  li{
    a{
      color: #2f604f;
      &:before{
        content: " + + ";
        color: #0000A2;
        font-weight: 700;
      }
    }
  }
}
img {
  width: 100px;
}